apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nc-ingress
  namespace: nextcloud
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  tls:
    - secretName: nc-tls
  rules:
    - host: "{{ nextcloud_domain }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: nextcloud
              port: 
                number: 8080